<div class="sidebar d-flex flex-column mr-50">
	<button class="btn btn-primary btn-icon-primary">
		<i class="fa-solid fa-question mr-5"></i>
		<span>
			Aide</span>
	</button>
	<ul class="sidebar-nav py-20">
		<li class="active">
			<i class="fa-solid fa-circle-exclamation mr-5"></i>
			Liste des quizz
		</li>
		<li>
			<i class="fa-solid fa-puzzle-piece mr-5"></i>
			Mes quizz
		</li>
		<li>
			<i class="fa-solid fa-chart-simple mr-5"></i>
			Mon classement
		</li>
	</ul>
</div>
